* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Preserva as dimensões de uma box */
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Times New Roman';
    font-size: 1.8rem;
}

main{
    padding-top: 7rem;
}

table,
td,
th {
    border: .1rem solid black;
}

table tr:first-child {
    background-color: steelblue;
    color: #fff;
}

table tr:nth-child(2n + 3) {
    background-color: #c0c0c0;
}

table {
    font-size: 2.4rem;
    /* border-collapse: separate; | padrão */
    border-collapse: collapse;
    border: .2rem solid black;
}

h1 {
    color: black;
    font-size: 9.6rem;
    font-weight: 900;
    font-style: oblique;
    text-transform: capitalize;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font: 3.2rem;
}

p {
    font-size: 1.8rem;
    text-align: justify;
    text-indent: 9rem;
}

a {
    font-size: 2.4rem;
    color: #000033;
}

a:visited {
    color: darkgreen;
}

a:hover {
    color: #f8c300;
}

.bg {
    height: 100vh;
    width: 100vw;
    background-color: #555;
    background-image: url("https://images.unsplash.com/photo-1528837516156-0a7225a43641?q=80&w=1933&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

ul,
ol {
    padding-left: 3.2rem;
}

ul {
    list-style: square;
}

ol {
    /* list-style: decimal-leading-zero; */
    list-style: upper-roman;
}

nav.menu {
    position: fixed;
    background-color: #93754f;
    width: 100vw;
    height: 7rem;
    z-index: 1;
}

.contact-list h2{
    top: 7rem;
    position: sticky;
    background-color: #0d80bf;
}

.boxes {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.box + span {
    display: none;
}

.box {
    flex: 30%;
    color: #fff;
    height: 10rem;
    width: 20rem;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: #0d80bf;
    border: 1rem solid black;
    /* display: block; | Padrão */
    display: inline-block;
    border-radius: .4rem;
    position: static;
    /* Padrão */
}

.box + span {
    clear: both;
}

.boxes p {}

img {
    /* display: inline; | Padrão */
    height: 10rem;
}