* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'arial';
    font-size: 1.8rem;
}


main {
    /* padding: 7rem 0; */
}

h1 {
    color: blueviolet;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
    font-size: 4.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', arial, cursive;
}

h2{
    font-size: 2.14rem;
}

p {
    font-size: 1.8rem;
    text-align: justify;
}

.boxes{
    height: calc(100vh);
    position: relative;

    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* justify-content: flex-start; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* align-items: center; */
    align-content: center;
    /* flex-direction: row; | padrão */
    /* flex-direction: column-reverse; */
    gap: 2rem 5rem;
}

.box{
    min-height: 10rem;
    min-width: 20rem;
    padding: 1.5rem;
    border: 1rem solid black;
    border-radius: .4rem;
    background-color: #0d80bf;
    color: #fff;
    font-size: 4rem;
    /* display: inline-block; */
    /* flex-basis: 30%; */
    /* flex-basis: calc(33.33% - 5rem); */
    flex: 1; /* controla o tamanho de expansão do elemento na tela de acordo com a disposição de ocupação dos box em tela */
    
    
    display: flex;
    gap: 0 3rem;
    justify-content: center;
    align-content: center;
}

.box:nth-child(2){
    flex: 7;
}

.box p, button{
    font-size: 4rem;
}